html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

:root {
	--w: 8px;
}

main {
	width: max-content;
	max-width: 900px;
	margin: auto;
}

h1 {
	font-weight:900;
	text-transform: uppercase;
}

h1 span {
	font-weight: 100;
}

div.give-em-years {
	margin-top:calc(var(--w) * 5);
	margin-bottom:calc(var(--w) * 10);
}

div.year-set {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-gap: var(--w);
	grid-column-gap: calc(var(--w));
	margin: auto;
	width: max-content;
}

div.year {
	display: grid;
	grid-template-columns: max-content max-content;
}

div.year-label {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	text-align: center;
	font-size:12px;
	padding-right: var(--w);
	font-weight:900;
	opacity: .4;
}

div.year-container {
	display: grid;
	grid-template-columns: repeat(53, var(--w));
	grid-template-rows: repeat(7, var(--w));
	grid-auto-flow: column;
	grid-gap:1px;
}

div.day {
	background-color: 	rgb(233, 232, 232);
	width: var(--w);
	height: var(--w);
	border: 1px solid rgba(0,0,0,.1);
}

div.day:hover {
	transform: scale(1.5);
	border: 1px solid rgba(0,0,0,2);
	/* box-shadow: 0px 0px 10px rgba(0,0,0,1); */
}

.inactive-date {
	opacity:.3;
}

div.rollover {
	min-height:80px;
}

.rollover-date {
	margin-bottom:.4rem;
}

.rollover-allhands {
	margin-bottom: .4rem;
	font-style:italic;
	font-weight: 600;
	color: #888;
}

.rollover-versions {
	display: flex;
	flex-wrap: wrap;
}

.rollover-version {
	--rollover-fontsize: 14px;
	margin-right: var(--w);
	font-size: var(--rollover-fontsize);
}

.ff-major-rollover {
	font-weight:900;
}

.focused-release {
	border: 20px solid blue;
}

div.day.in-focus {
	background-color: rgb(172, 217, 255);
}

div.day.in-focus.minor-release {
	background-color: 	rgb(139, 151, 204);
}

div.day.major-release {
	background-color: black;
}

div.day.minor-release {
	background-color: #B2BEB5;
}

div.day.all-hands {
	background-color: #FF7F7F;
}

div.day.all-hands.major-release {
	background-color:#C41E3A;
}

div.day.all-hands.minor-release {
	background-color: rgb(255, 0, 149);
}